@import '../../scss/variables.scss';

.chat {
	min-height: 500px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	position: relative;
	&__title {
		color: #fff;
	}
	&__block {
		height: 500px;
		width: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		border: 1px solid #7b7b7b;
		gap: 10px;
		overflow: auto;
		border-radius: 10px;
	}
	&__message {
		display: flex;
		gap: 5px;
		align-self: flex-start;
		max-width: 300px;
		background-color: $gray;
		padding: 10px;
		border-radius: 20px;
		color: #fff;
		&--user {
			align-self: flex-end;
			flex-flow: row-reverse;
			h4 {
				text-align: end;
			}
		}
		&-img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			object-fit: cover;
		}
		&-type {
			position: absolute;
			top: 10px;
			left: 2px;
			color: #000;
			z-index: 23;
		}
		&-date {
			margin-top: 10px;
			font-size: 10px;
			text-align: right;
		}
	}
	&__input {
		padding: 10px;
		border: none;
		border-radius: 10px;
	}
	&__button {
		display: flex;
		align-items: center;
		&-send {
			cursor: pointer;
			img {
				display: block;
				width: 30px;
			}
		}
	}
}
