.aside {
	overflow: hidden;
	top: 100px;
	left: 20px;
	position: sticky;
	background-color: #949191;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	&__nav-item {
		display: block;
		cursor: pointer;
		padding: 15px 30px;
		transition: 0.1s linear;
		&--active {
			background-color: #00000062;
			color: #fff;
		}
		&:hover {
			background-color: #000000a1;
			color: #fff;
		}
	}
	@media (max-width: 530px) {
		display: none;
	}
}
