.fullvideo {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #fff;
	&__title {
		font-size: 25px;
	}
	&__block {
		display: flex;
		gap: 20px;
		&-right {
			width: 100%;
		}
		@media (max-width: 1250px) {
			flex-direction: column;
		}
	}
	&__video {
		max-width: 600px;
		height: auto;
		max-height: 600px;
		@media (max-width: 620px) {
			max-width: 500px;
		}
		@media (max-width: 520px) {
			max-width: 400px;
		}
		@media (max-width: 420px) {
			max-width: 300px;
		}
	}
	&__comments {
		margin-top: 20px;
		&-title {
			margin-bottom: 10px;
		}
	}
	&__comment {
		border-bottom: 1px solid #404040;
		color: #fff;
		padding: 10px;
		&-block {
			display: flex;
			gap: 10px;
			align-items: center;
			width: 100%;
			justify-content: space-between;
		}
		&-top {
			display: flex;
			gap: 10px;
			align-items: center;
			margin-bottom: 10px;
		}
		&-img {
			object-fit: cover;
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
		&-data {
			font-size: 12px;
			color: #5f5e5e;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
		margin-bottom: 15px;
	}
	&__like {
		&-block {
			display: flex;
			align-items: center;
			gap: 5px;
			cursor: pointer;
		}
		&-blocks {
			margin-top: 10px;
			display: flex;
			align-items: center;
			gap: 10px;
		}
		&-count {
			font-size: 20px;
		}
	}
}
