.video {
	&-block {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		&__top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
		}
	}
}
