@import '../../scss/variables.scss';

.news {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-direction: column;
	&__img img {
		width: 100%;
	}
	&__block {
		color: #fff;
		border-radius: 10px;
		padding: 30px;
		gap: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 600px;
		font-size: 25px;
		background-color: $gray;
	}
	&__data {
		align-self: flex-start;
	}
	&__likes {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 5px;
		width: 100%;
		&-img {
			max-width: 25px;
		}
	}
}
