@import '../components/Header/header';
@import '../components/VideoPrev/videoPrev.scss';
@import '../components/Logo/Logo.scss';
@import '../components/Search/search.scss';
@import '../components/ContentTop/contentTop.scss';
@import '../pages/NotFound/notFound.scss';
@import '../pages/Video/video.scss';
@import '../components/Aside/aside.scss';
@import '../components/PopupMenu/popupMenu.scss';
@import '../components/MobileBlock/mobileBlock.scss';
@import '../pages/FullVideo/fullVideo.scss';
@import '../pages/AdminPanel/adminPanel.scss';
@import '../pages/UserSettings/userSettings.scss';
@import '../pages/About/about.scss';
@import '../pages/Chat/chat.scss';
@import '../pages/News/news.scss';
@import './button.scss';

@import '../scss/variables.scss';

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

*,
html,
body {
	font-family: sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

ul,
ol,
li {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

span {
	color: #fff;
}

body {
	background-color: #1b1b1b;
	color: #fff;
	&.active {
		overflow: hidden;
		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: #000;
			opacity: 0.5;
			z-index: 2;
		}
	}
}

.main {
	display: flex;
	justify-content: center;
	gap: 40px;
	height: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1350px;
}

.wrapper {
	margin-top: 100px;
	border-radius: 10px;
	width: 100%;
	gap: 20px;
	&__inner {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;
	}
	@media (max-width: 880px) {
		margin-top: 140px;
	}
}

.content {
	height: 100%;
	padding: 10px;
	width: 100%;
	max-width: 1100px;
	.video-block {
		width: 100%;
	}
}

.form-block {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	width: auto;
	margin: 0 auto;
	padding: 20px 30px;
	border-radius: 5px;
	flex-direction: column;
	border: 3px solid #4d4d4d;
	background-color: $gray;
	color: #fff;
	@media (max-width: 340px) {
		padding: 20px 10px;
		margin: 0 25px;
	}
	&--admin {
		margin: 0;
	}
	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 25px;
		text-align: center;
	}
	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 20px;
	}
	&__btns {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 15px;
		&-login {
			flex-direction: column;
		}
	}
	&__img-upload {
		max-width: 310px;
		max-height: 310px;
		margin-bottom: 20px;
		border-radius: 10px;
	}
	&__input {
		&--update:not(:last-child) {
			margin-bottom: 20px;
		}
		&--password {
			max-width: 250px;
			margin-bottom: 50px;
		}
	}
}

.loading-status {
	font-size: 40px;
	text-align: center;
}

.auth {
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: center;
}

input,
textarea {
	color: #fff;
	background-color: $gray;
	&::placeholder {
		color: #fff !important;
	}
}

.MuiInputBase-root {
	textarea {
		color: white;
	} /* устанавливаем белый цвет для label */
}

.MuiInputBase-input {
	color: white; /* устанавливаем белый цвет для текста */
}
.MuiFormLabel-root {
	color: white;
}
.MuiOutlinedInput-notchedOutline {
	border-color: white; /* устанавливаем белый цвет для обводки */
}

.MuiOutlinedInput-root input {
	color: white;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
	border-color: white !important; /* устанавливаем белый цвет для обводки и отменяем изменение при наведении */
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: white; /* устанавливаем белый цвет для обводки и отменяем изменение при фокусе */
}
.MuiInputLabel-formControl {
	color: white !important; /* устанавливаем белый цвет для текста label */
}

.MuiInputBase-input .MuiOutlinedInput-input textarea {
	color: #fff !important;
}

.slick-dots li button::before {
	color: #fff;
}

.popup-update__close::before,
.popup-update__close::after {
	background-color: #fff;
}

.btn-avatar {
	background-color: #252525;
	border-color: #fff;
}

.sort__popup ul li.active {
	color: #fff !important;
	background-color: #0c1f8077;
}

.reviews__sort-btn {
	border-color: #fff;
	color: #fff;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}
.button--outline--cart,
.button--outline--cart:disabled {
	background: none;
}

.product-block__price--discount-top span {
	color: rgba(255, 0, 0, 0.84);
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
	-webkit-text-fill-color: rgba(113, 113, 113, 0.38);
}
.button--menu {
	background-color: #3e3e3e;
	&:hover {
		background-color: #5a5a5a;
	}
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
	color: #fff !important;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
	color: #fff !important;
}
